.Gif {
  vertical-align: middle;
  justify-content: center;
  margin: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px 0 black;
  z-index: 0;
}

.parent{
    z-index:0;
}

.child{
    position:absolute;
    height: 20px;
    width: 20px;
    z-index:1;
    bottom:12px;
    right: 12px;
}

.dialog-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.dialog-text{
  margin-left: 15px;
}
